<div class="center" style=' text-align: center;'>
 

  <p style='max-width:700px; text-align: center;' class="center">Consider donating your stimulus check to one of our recommended organizations supporting food security. Though we all need safety and security at this time, the stimulus checks were distributed to people who may not need it as much as others right now.
  </p>
  <div class = 'pb3'>
    <h4>
      <button style = 'font-size: 1rem;' href = '#orgs' class = 'b br-pill' onClick="document.getElementById('donation-form').scrollIntoView();">
        🖤 Donate
      </button>
    </h4>
  </div>

  <div style = 'max-width: 1000px;' class = 'center bg-highlight ma4 pv4'>
    <div class = 'flex-ns'>
      <!-- <div id="js-legend" class="pb4 pt1"></div> -->
      <canvas id="cityChart" style = 'max-width: 500px;' class = 'center' ></canvas>
      <canvas id="orgChart" style = 'max-width: 500px;' class = 'center' ></canvas>
    </div>
    <span id = 'updated' class = 'fr mr2'>Updated: </span>
  </div>

  <p class = 'b center pt4 pb3'> “Food security means having, at all times, both physical and economic access to sufficient food to meet dietary needs for a productive and healthy life.”</p>

</div>

<hr style = 'max-width: 900px'>
<div class = 'w-100 w-60-ns center pt3'>
  <div class="w-90 flex-ns mhn1-ns flex-wrap center pt2">
    <div class="ph1-ns w-30-ns flex-auto  ">
      <h2 class = "f2 b lh-title ">Double The Impact</h2>
    </div>
    
    <div class="ph1-ns w-50-ns flex-auto mr1">
      <p style = 'font-size: 0.9rem;'>{{ .impact_text }}</p>

    </div>
  </div>
</div>


  

