<section class = 'pv4 mw8 ph3 center' id = 'donation-form'>
  <hr>
  <p class="center">Ready to donate? Go ahead, and then come back here to let us know.</p>
  <form class="flex-ns mb3 " data-netlify="true" name='donation-form'>

    <fieldset class="flex-auto mb2 mb0-ns mr2-ns">
      <input name="email" type="text" id="email" placeholder="Email" class="w-100">
      <label for="email">Name</label>
    </fieldset>
    <fieldset class="flex-auto mb2 mb0-ns mr2-ns">
      <input name="name" type="text" id="name" placeholder="Name" class="w-100">
      <label for="name">Email</label>
    </fieldset>
    <fieldset class="flex-auto mb2 mb0-ns mr2-ns">
      <input name="amount" type="text" id="amount" placeholder="Amount" class="w-100">
      <label for="amount">Amount</label>
    </fieldset>
    <fieldset class="flex-auto mb2 mb0-ns mr2-ns">
      <label for="file" style = 'z-index: 99; opacity: 1'>Upload Receipt</label>
      <input name="file" type="file" id="file" placeholder="File upload" class="w-80">
      
    </fieldset>

    <button class="btn mb3 w-100 w-auto-ns mb0-ns raise" type="submit">Submit</button>

  </form>
</section>
