<section class = 'pv4 mw8 ph3 center' id = 'donation-form'>
  <p class="center">Ready to donate? Go ahead, and then come back here to let us know and we will match your donation!</p>
  <form class="flex-ns mb3 " data-netlify="true" name='donation-form'>

    <fieldset class="flex-auto mb2 mb0-ns mr2-ns">
      <input name="name" type="text" id="name" placeholder="Name" class="w-100">
      <label for="name">Name</label>
    </fieldset>
    <fieldset class="flex-auto mb2 mb0-ns mr2-ns">
      <input name="email" type="email" id="email" placeholder="Email (required)" class="w-100" required>
      <label for="email">Email</label>
    </fieldset>
    <fieldset class="flex-auto mb2 mb0-ns mr2-ns">
      <input name="amount" type="text" id="amount" placeholder="$ Amount" class="w-100">
      <label for="amount">Amount</label>
    </fieldset>
    <fieldset class="flex-auto mb2 mb0-ns mr1-ns">
      <label for="file" style = 'z-index: 99; opacity: 1; line-height:2.2; font-size: 0.85rem; max-width: 250px' >Upload Receipt (required)</label>
      <input name="file" type="file" id="file" placeholder="File upload"  style = 'max-width: 220px; opacity:0' required>
    </fieldset>
    <!-- <fieldset style = 'display:none'>
      <input name="city" type="hidden" id="city" value = '{{.}}'>
    </fieldset> -->
    <button class="btn " type="submit">Submit</button>
  

  </form>
</section>
