<div class="center" style=' text-align: center;'>
 
  <!-- <h2 class="f2 b lh-title mb2 w-40-l">{{.heading}}</h2> -->
  <!-- <p style='max-width:none;' class="w-100 mb0">{{.text | safeHTML}}</p> -->
  <p style='max-width:700px; text-align: center;' class="center">Consider donating your stimulus check to one of our recommended organizations supporting food security. Though we all need safety and security at this time, the stimulus checks were distributed to people who may not need it as much as others right now.
  </p>

  <div style = 'max-width: 900px; ' class = 'center bg-highlight pa2'>
    <div id="js-legend" class="chart-legend"></div>
    <canvas id="myChart" ></canvas>
  </div>
  
  <p class = 'b center pt4'> “Food security means having, at all times, both physical and economic access to sufficient food to meet dietary needs for a productive and healthy life.”</p>

</div>

<div class = 'w-80 center pt3 pb3'>
  <hr>
  <div class="w-80 flex-ns mhn1-ns flex-wrap mb3 center pt4">
    <div class="ph1-ns w-30-ns flex-auto  ">
      <h2 class = "f2 b lh-title ">Double The Impact</h2>
    </div>
    
    <div class="ph1-ns w-50-ns flex-auto mr1">
      <p>Choose a city in the top menu and see how the local Global Shapers hub is amplifying your donations.</p>
    </div>
  </div>
  <hr>
</div>


  

