<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body class="sans-serif" style = 'background-color: #c8ded5;'>

    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}} 

    <!-- google analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QZJZWW82X1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QZJZWW82X1');
    </script>


    <!-- Chart -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-doughnutlabel/2.0.3/chartjs-plugin-doughnutlabel.min.js"></script>
    <!--  chart script -->

    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}

  </body>
</html>
